#app {
  display: flex;
  justify-content: center;
  background: blueviolet;
}

.page-extras {
  font-size: 1em;
}

.page-header {
  color: #fff;
}

.state-component {
  background: pink;
}

.container--blue {
  background: orange;
}

.challange-container {
  margin: 0 auto;
  width:800px;
  h1 {
    text-align: center;
  }
  .btn-red {
    background: red;
  }
  .btn-blue {
    background: blue;
  }
  .btn-green{
    background: green;
  }
  .btn {
    width:150px;
    height:40px;
    font-size: 22px;
    font-weight:bold;
    color:white;
    margin: 0 2em;
  }
}
.list-elements {
  color: white;
  list-style-type: none;
}
.btn-red {
  background: red;
}
.btn-blue {
  background: blue;
}
.btn-green{
  background: #802f20;
}
.btn {
  width:250px;
  height:60px;
  border:4px solid #1100ff!important;
  font-size: 22px;
  font-weight:bold;
  color: #ffe400;
  margin: 0 auto;
  vertical-align: middle;
}